.League{
  width: 100%;
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.hotnews-arrow{
  width: 30px;
  transform: rotate(-90deg);
  margin-top: 6px;
}

.League-Bundes .hotnews-logo{
  width: 100px;
}

.League-EPL, .League-LLG, .League-SerieA, .League-Bundes, .League-L1, .League-VL{
  background-size: cover; /* Căn chỉnh kích thước ảnh để bao phủ toàn bộ thẻ */
  background-position: center; /* Canh giữa ảnh */
  background-repeat: no-repeat; /* Không lặp ảnh */
  width: 100%; /* Chiều rộng linh hoạt */
  height: auto;
  /* margin-top: 30px; */
}

.League-EPL{
  background-image: url('/pics/Leagues/EPL\ bg.jpg'); /* Đặt ảnh nền */
}

.League-LLG{
  background-image: url('/pics/Leagues/Laliga\ bg.png'); /* Đặt ảnh nền */
}

.League-SerieA{
  background-image: url('/pics/Leagues/SerieA\ bg.png'); /* Đặt ảnh nền */ 
}

.League-Bundes{
  background-image: url('/pics/Leagues/Bundes\ bg.png'); /* Đặt ảnh nền */ 
}

.League-L1{
  background-image: url('/pics/Leagues/L1\ bg.png'); /* Đặt ảnh nền */ 
}

.League-VL{
  background-image: url('/pics/Leagues/VL\ bg.png'); /* Đặt ảnh nền */ 
}

.League .main-news, .League .news-item img {
  border: 3px solid rgba(0, 255, 251, 1);
}

.League .hotnews-title, .League .side-news .news-text p, .bot-news .news-text p {
  color: white;
}

.League .side-news .news-text small, .bot-news .news-text small{
  color: rgba(255, 255, 255, 0.75);
}

.League .side-news .category, .bot-news .category{
  color: rgba(0, 212, 255, 1);
}

.bot-news {
  display: flex;
  gap: 67px;
  margin-left: 30px;
}

.bot-news .news-item {
  flex: 1;
  display: grid;
  gap: 10px;
}

.bot-news img {
  width: 100%; /* Chiều rộng linh hoạt theo container */
  max-width: 260px; /* Giới hạn chiều rộng tối đa */
  height: 170px; /* Tự động điều chỉnh chiều cao theo tỷ lệ */
  object-fit: cover; /* Đảm bảo ảnh được cắt gọn mà không bị méo */
}

.bot-news .news-text {
  position: relative;
  width: 100%;
  height: 150px;
}

.bot-news .news-text p {
  margin-top: 10px;
  font-size: 20px; /* Tăng kích thước tiêu đề */
  font-weight: bold;
}

.bot-news .news-text small {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  line-height: 1.4;
}

.bot-news .category {
  font-size: 20px;
  font-weight: bold;
}