footer{
    background-image: linear-gradient(to right, black, rgba(23, 17, 0, 1), #755800);
    height: 600px;
  }
  
  .footer-1st{
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    padding-top: 30px;
    padding-left: 70px;
    position: relative;
    color: white;
  }
  
  .footer-1st p {
    width: 700px;
    line-height: 1.4;
    font-weight:bold;
    color: #DDB300;
    font-size: 30px;
  }
  
  .footer-1st .fa-youtube, .footer-1st .fa-square-facebook {
    position: absolute;
    right: 120px;
    font-size: 60px;
  }
  
  .footer-1st .fa-square-facebook {
    margin-right: 120px;
  }
  
  footer .sep-line {
    background-color: #DEB300;
    height: 2px;
    width: 85%;
    margin: 10px auto;
  }
  
  /*footer 2nd*/
  .footer-2nd {
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-left: 110px;
    position: relative;
    color: white;
    font-family: Pacifico;
  }
  
  .contact {
    width: 540px;
    display: grid;
    gap: 15px;
  }
  
  .contact .contact-item{
    display: grid;
    font-size: 20px;
    line-height: 1.4;
  }
  
  .contact-item .ct-value{
    color: white;
    font-weight: 500;
  }
  
  .contact-item .copyright{
    color: white;
    font-weight: 500;
    max-width: 290px;
    border: white solid 1px;
    padding: 5px;
    padding-left: 6px;
  }
  
  .message .ms-title {
    color: white;
    max-width: 780px;
    font-size: 35px;
    margin-bottom: 30px;
    line-height: 1.4;
    -webkit-text-stroke: 1px #DEB300; 
  }
  
  .footer-2nd .ms-donate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    width: 750px;
  }
  
  .ms-donate .ms-detail {
    color: white;
    max-width: 300px;
    font-size: 21px;
    line-height: 1.5;
  }
  
  .ms-donate img {
    /* width: 100%; */
    height: 100%;
  }